<section class="sct-color-4">
    <div class="container-fluid no-padding">
        <div class="row align-items-flex-start">
            <div class="col-lg-6">
                <br/>
                <br/>
                <br/>
                <div class="col-wrapper--spaced text-center animate-on-scroll fadeInDown">
                    <h3 class="heading heading-4 strong-300" style="color: #36423c">
                        Art Col stands for Arte Colombiana and Artistic Collective. It came about in September 2018 from the artistic encounter of Bianca, Daviana and Jhon Jairo in Sierra Nevada, Colombia. It is an art collective based in Paris which aims to promote pictures and artefacts made in Colombia.
                        <br/><br/>
                        Art Col values cultural exchanges and collective work above all. Art Col aims to critically explores the relationships between Europeans, Indigenous people, and the inhabitants of Colombia through various art forms. We believe that by creating art in teams we can bring different outlooks together. We want to foster a constructive dialogue about questions that matter to the peoples of Colombia: cultural differences, personal and group identities, resource distribution, heritage and natural preservation.</p>
                        <br/>
                        Art Col’s scope is to become an artistic platform accessible to all to face these issues together.
                    </h3>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="animate-on-scroll fadeInUp text-center">
                        <%= image_tag "person1.jpg", width: 630, height: 1120 %>
                </div>
            </div>
        </div>
        <span class="clearfix"></span>
    </div>
</section>