<div class="body-wrap masonry-container">

    <section class="slice sct-color-4">
        <div class="container">

            <div class="row masonry">

                <div class="masonry-item col-sm-6 col-md-4">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp">
                                <%= image_tag "assets/col1.jpg"%>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="masonry-item col-sm-6 col-md-4">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.3s">
                                <img src="assets/person4.jpg">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="masonry-item col-sm-6 col-md-4">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.6s">
                                <img src="assets/col5.jpg">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="masonry-item col-sm-6 col-md-4">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.9s">
                                <img src="assets/col2.jpg">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="masonry-item col-sm-6 col-md-4 identity">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.12s">
                                <img src="assets/col3.jpg">
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="masonry-item col-sm-6 col-md-4 design">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.15s">
                                <img src="assets/col4.jpg">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="masonry-item col-sm-6 col-md-4 identity">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.18s">
                                <img src="assets/person1.jpg">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="masonry-item col-sm-6 col-md-4 design">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.21s">
                                <img src="assets/landscape.jpg">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="masonry-item col-sm-6 col-md-4 design">
                    <div class="block block-image-holder">
                        <div class="block-image">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.24s">
                                <img src="assets/line4.jpg">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="masonry-item col-sm-6 col-md-4 design">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.27s">
                                <img src="assets/person6.jpg">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="masonry-item col-sm-6 col-md-4 branding">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.30s">
                                <img src="assets/person2.jpg">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="masonry-item col-sm-6 col-md-4 branding">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.33s">
                                <img src="assets/line1.jpg">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="masonry-item col-sm-6 col-md-4 branding">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.35s">
                                <img src="assets/person3.jpg">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="masonry-item col-sm-6 col-md-4 branding">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.38s">
                               <img src="assets/person5.jpg">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="masonry-item col-sm-6 col-md-4 branding">
                    <div class="block block-image relative">
                        <div class="block-image relative">
                            <div class="animate-on-scroll fadeInUp" data-wow-delay="0.41s">
                                <img src="assets/line3.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

</div>

