<section class="sct-color-4">
    <div class="container-fluid no-padding">
        <div class="row align-items-flex-start">

            <div class="col-lg-6">
                <div class="animate-on-scroll fadeInUp text-center">
                    <span class="img-fluid" >
                        <%= image_tag "person2.jpg", width: 630, height: 1120  %>
                    </span>
                </div>
            </div>

            <div class="col-lg-6">
                <br/>
                <br/>
                <br/>
                <div class="col-wrapper--spaced text-center animate-on-scroll fadeInDown">
                    <h3 class="heading heading-4 strong-300" style="color: #36423c">
                        Thank you for your interest in Art Col! 
                        <br/><br/>
                        We are looking forward to hearing from you so please let us know what you think, what our art means to you, and how we can improve.
                        <br/><br/>
                        Follow us on <a href="https://www.facebook.com/ArtColPictures/" style="color: #36423c">Facebook</a>, Instagram, or drop us a line at
                        <br/><br/>
                        Your feedback is very important to us and we will do our best to get back to you as soon as possible.
                    </h3>
                </div>
            </div>


        </div>
        <span class="clearfix"></span>
    </div>
</section>