<body>

<!-- MAIN WRAPPER -->
<div class="body-wrap masonry-container">
    <div id="st-container" class="st-container">
        <div class="st-pusher">
            <div class="st-content">
                <div class="st-content-inner">

                    <!-- Header -->
                    <div class="header">
                        <!-- Navbar -->
                        <nav class="navbar navbar-expand-lg navbar--bold navbar-light bg-default" style="background-color: black">
                            <div class="container navbar-container">
                                <!-- Brand/Logo -->
                                <a class="navbar-brand" href="../../index.html">
                                    <%= image_tag "logo.png", width: 70, height: 70 %>
                                </a>
                                <div class="collapse navbar-collapse align-items-center " id="navbar_main">
                                    <!-- Navbar links -->
                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown megamenu">
                                            <a class="nav-link" style="color: #333" href="../../index.html">
                                                Home
                                            </a>
                                        </li>
                                        <li class="nav-item dropdown megamenu">
                                            <a class="nav-link" style="color: #333" href="../../index.html">
                                                About us
                                            </a>
                                        </li>
                                        <li class="nav-item dropdown megamenu">
                                            <a class="nav-link" style="color: #333" href="../../index.html">
                                                Collections
                                            </a>
                                        </li>
                                        <li class="nav-item dropdown megamenu">
                                            <a class="nav-link" style="color: #333" href="../../demos.html">
                                                Contact us
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>

                    <!-- Sections -->
                    <section class="sct-color-4">
                        <div class="container-fluid no-padding">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="col-wrapper--spaced text-center animate-on-scroll fadeInDown">
                                        <h3 class="heading heading-xl strong-600 text-capitalize" style="color: #212724">
                                            up the Jungle                                        </h3>
                                        <h3 class="heading heading-4 strong-300" style="color: #212724">
                                            Think simple.
                                        </h3>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="animate-on-scroll fadeInUp">
                                        <span class="img-fluid">
                                            <%= image_tag "landscape.jpg", width: 640, height: 480  %>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </section>

                    <section class="slice-lg sct-color-4" style="background-color: black">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-5 order-lg-2">
                                    <div class="col-wrapper--spaced text-center animate-on-scroll fadeInUp" data-wow-delay="0.3s">
                                        <h3 class="heading heading-2 strong-600 text-normal" style="color: #212724">
                                            Beware the mountain 
                                        </h3>
                                        <h3 class="heading heading-4 strong-300" style="color: #212724">
                                            Think simple.
                                        </h3>
                                    </div>
                                </div>

                                <div class="col-lg-5 order-lg-1 ml-lg-auto">
                                    <div class="blog block-image-holder animate-on-scroll fadeInUp">
                                        <div class="block-image">
                                            <%= image_tag "person1.jpg" %>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <span class="space-xs-only-3 space-sm-only-3"></span>

                            <div class="row align-items-center">
                                <div class="col-lg-5">
                                    <div class="col-wrapper--spaced text-center animate-on-scroll fadeInUp" data-wow-delay="0.3s">
                                        <h3 class="heading heading-2 strong-600 text-normal" style="color: #212724">
                                            Listen to the nature                                        </h3>
                                        <h3 class="heading heading-4 strong-300" style="color: #212724">
                                            Design simple.
                                        </h3>
                                    </div>
                                </div>

                                <div class="col-lg-5">
                                    <div class="blog block-image-holder animate-on-scroll fadeInUp" >
                                        <div class="block-image">
                                            <%= image_tag "person2.jpg" %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- FOOTER -->
                    <footer id="footer" class="footer footer-inverse">
                        <div class="footer-bottom py-4" style="background-color: #121416">
                            <div class="container">
                                <div class="row cols-xs-space col-sm-space align-items-center">
                                    <div class="col-lg-3 col-12">
                                        <div class="">
                                            <div class="copyright">
                                                <ul class="copy-links no-margin">
                                                    <li>
                                                        &copy; 2018 Artcol & T. Rajcic
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="text-center">
                                            <ul class="footer-menu footer-menu-sm">
                                                <li>
                                                    <a href="#" style="padding-left: 0;">Home</a>
                                                </li>
                                                <li>
                                                    <a href="#">About us</a>
                                                </li>
                                                <li>
                                                    <a href="#">Collections</a>
                                                </li>
                                                <li>
                                                    <a href="#">Contact us</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="text-xs-center text-sm-right">
                                            <ul class="social-media social-media--style-1-v4">
                                                <li>
                                                    <a href="#" class="facebook" target="_blank" data-toggle="tooltip" data-original-title="Facebook">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="instagram" target="_blank" data-toggle="tooltip" data-original-title="Instagram">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>

                </div>
            </div>
        </div><!-- END: st-pusher -->
    </div>
</div><!-- END: body-wrap -->
</body>