<!-- Sections -->
<section class="sct-color-4">
    <div class="container-fluid no-padding">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="col-wrapper--spaced text-center animate-on-scroll fadeInDown">
                    <h3 class="heading heading-xl strong-600 text-capitalize" style="color: #36423c">
                        up the Jungle                                        </h3>
                    <h3 class="heading heading-4 strong-300" style="color: #36423c">
                        Think simple.
                    </h3>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="animate-on-scroll fadeInUp">
                    <span class="img-fluid">
                        <%= image_tag "landscape.jpg", width: 630, height: 473  %>
                    </span>
                </div>
            </div>
        </div>
        <span class="clearfix"></span>
    </div>
</section>

<section class="slice-lg sct-color-4" style="background-color: black">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 order-lg-2">
                <div class="col-wrapper--spaced text-center animate-on-scroll fadeInUp" data-wow-delay="0.3s">
                    <h3 class="heading heading-2 strong-600 text-normal" style="color: #36423c">
                        Beware the mountain 
                    </h3>
                    <h3 class="heading heading-4 strong-300" style="color: #36423c">
                        Think simple.
                    </h3>
                </div>
            </div>

            <div class="col-lg-5 order-lg-1 ml-lg-auto">
                <div class="blog block-image-holder animate-on-scroll fadeInUp">
                    <div class="block-image">
                        <%= image_tag "person1.jpg" %>
                    </div>
                </div>
            </div>
        </div>

        <span class="space-xs-only-3 space-sm-only-3"></span>

        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="col-wrapper--spaced text-center animate-on-scroll fadeInUp" data-wow-delay="0.3s">
                    <h3 class="heading heading-2 strong-600 text-normal" style="color: #36423c">
                        Listen to the nature                                        </h3>
                    <h3 class="heading heading-4 strong-300" style="color: #36423c">
                        Design simple.
                    </h3>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="blog block-image-holder animate-on-scroll fadeInUp" >
                    <div class="block-image">
                        <%= image_tag "person2.jpg" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

